extends ../components/header.pug

block styles
  link(rel="stylesheet" type="text/css" href="/product-detail.css")
  link(rel="stylesheet" type="text/css" href="/delete-product.css")

block content
  h2 Are you sure you want to delete the product below?
  section
    article
      h1 #{product.title}
      em #{product.description}
      strong $ #{product.price}
    article
      img(src!=product.imageURL alt!=product.title)
  .confirmation
    .btn-group
        form(method="GET" action="/")
          button(type="submit")
            i.fas.fa-times
            span Cancel
        form(method="POST" action="/admin/delete-product")
          button(type="submit")
            i.fas.fa-check
            span Confirm
          input(type="hidden" name="productId" value!=product.id)