extends ../components/header.pug

block styles
  link(rel="stylesheet" type="text/css" href="/product-detail.css")

block content
  section
    article
      h1 #{product.title}
      em #{product.description}
      strong $ #{product.price}
      form(method="POST" action="/cart")
        button(type="submit")
          i.fas.fa-cart-plus 
          span Add to Cart
        input(type="hidden" name="productId" value!=product.id)
    article
      img(src!=product.imageURL alt!=product.title)