html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet" type="text/css" href="/header.css")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet")
    block styles
  body
    header
      nav
        a(href="/" class=(path === '/' ? 'active' : '')) Shop
        a(href="/admin/add-product" class=(path === '/admin/add-product' ? 'active' : '')) Add Product
    main
      h1(align="center") #{pageTitle}
      block content