extends components/header.pug

block styles
  link(rel="stylesheet" type="text/css" href="shop.css")

block content
  if products.length > 0
    ul
      each p in products
        li #{p}
  else
    h2 No Products Registered!