form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #bbb;
}

form input {
  border: 0;
  background: #dee;
  color: #335;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
  display: flex;
  justify-content: center;
  margin-top: .3rem;
  border: 2px solid transparent;
}

form input:focus{
  border-bottom: 2px solid #ff6b6b;
}

form input:valid {
  border: 2px solid #02c39a;
  transition: .3s;
}

form button {
  color: #1a535c;
  background: #4ecdc4;
  border: 0;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
  display: inline-block;
  width: 7rem;
  border-radius: 3px;
  margin-top: 1rem;
  align-self: flex-end;
}

form button:hover {
  color: #4ecdc4;
  background: #1a535c;
}