* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body, html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: #444;
}

h1, h2 {
  margin: 1rem;
  font-family: 'Josefin Sans';
  text-align: center;
}

h1 + h2 {
  font-family: 'Inter';
  font-weight: 300;
}

header {
  align-self: flex-start;
  width: 100%;
  padding: 1rem;
  background: #1A535C;
  color: #4ecdc4;
  display: block;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  margin: 1rem;
  text-decoration: none;
  color: inherit;
}

header nav a:hover, header nav a.active {
  color: #ffe66d;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 10%;
}